
# AppImage related
# Build artifacts
# Build directories
# Release logs
*.7z
*.AppImage
*.egg
*.egg-info/
*.idx
*.pkg.tar.zst
*.pyc
*.pyd
*.pyo
*.spec
*.tar.gz
*.tar.zst
.Python
.eggs/
.git_storage/
.installed.cfg
AppDir/
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
linuxdeploy*
logs/
parts/
pkg/
release/
sdist/
src/
var/
varchiver-bin
wheels/